/*style.css*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000000;
    margin: 0;
    color: white;
    font-family: monospace;
}

html {
    scroll-behavior: smooth;
}

.main {
    background-color: #202020;
    padding: 10px 20px;
    width: 500px;
    text-align: center;
    border-radius: 10px;

}

h1 {
    color: #ffffff;
}


input {
    display: block;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    color:#000000;
}

input:focus{
    background-color: rgb(59, 59, 59);
    color: white;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #54059e;
    width: 100%;
}

button:hover{
    background-color: #580adf;
}

a{
    text-decoration: None;
    color: rgb(175, 152, 255);
}

a:hover{
    color: white;
}

p{
    font-size: 15px;
}
